engine:
  model_path: Qwen/Qwen3-30B-A3B-Instruct-2507
  tp_size: 1          # use all 4 GPUs on the node
  trust_remote_code: true

sampling_params:
  temperature: 0.7
  top_p: 0.9
  max_new_tokens: 1024
  custom_params:
    chat_template_kwargs: 
      enable_thinking: false

processing_gen_params:
  datasets:
    - path: /capstor/store/cscs/swissai/a127/meditron/multimediset/dirty/medtrinity_conversations_2
  output_dir: /iopsstor/scratch/cscs/mzhang/medtrinity_extract
  num_shards: "$SLURM_ARRAY_TASK_COUNT"
  shard_id: "$SLURM_ARRAY_TASK_ID"
  batch_size: 8

processing_params:
  inputs:
    - name: assistant_answer
      key: conversations[1].content
    - name: user_prompt
      key: conversations[0].content
    - name: modalities
      key: modalities

  outputs:
    - name: question
      type: llm
      output_type: plain
      prompt: |
        You are a clinical practitioner. You are given a description of a medical image.

        ### Instructions
        
        * Generate one question about the description below.
        * Your question needs to be answerable using the informations contained in the description
        * Do **not** add anything else in your answer

        ### Description of the medical image
        
        {assistant_answer}


    - name: answer
      type: llm
      output_type: plain
      prompt: |
        You are a knowledgeable medical doctor.

        You will be provided with:
        
        * **A medical image description**
        * **A clinical question related to the image**
        
        ### Task
        
        Answer the clinical question **using only the information that can be inferred from the image description**.
        
        ### Instructions
        
        * Do **not** mention or imply that your answer is based on a description. Instead, answer as if you had the actual image.
        * Clearly reference relevant visual features (e.g., anatomical structures, abnormalities, patterns).
        * If multiple answers are clinically plausible, list all reasonable possibilities
        * Take a step by step reasoning before giving your final answer
        * Your answer must be structured and written in Markdown
        
        ### Inputs
        
        **Question:**
        {question}
        
        **Image Description:**
        {assistant_answer}

  output_schema:
    conversations:
      - role: "user"
        content: "<|reserved_special_token_0|> {{ question }}"
      - role: "assistant"
        content: "{{ answer }}"
    modalities: "{{ modalities }}"
    original_caption: "{{ assistant_answer }}"
